/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
  with slight edits made by Me!
*/
:root {
    --shadow: rgba(38, 11, 54, 0.534);
}
*, *::before, *::after {
    box-sizing: border-box;
}
*:not(dialog) {
    margin: 0;
}
body {
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}
img {
    max-width: 100%;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    vertical-align: middle;
    shape-margin: 1rem;

}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
ul, li, section, main, header, footer {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

body {
    display: grid;
    gap: 2rem;
    grid-template-rows: repeat(3, 1fr);
}

header {
    background: pink;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        section.card {
            background: pink;
            padding: 6rem 3rem;
            box-shadow: var(--shadow) 0px 5px 4px;
        }
    }
}

footer {
    background: pink;
    place-self: stretch;
}