/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
  with slight edits made by Me!
*/
:root {
    --shadow: rgba(38, 11, 54, 0.534);
    --default: rgb(49, 53, 78);
    --icon-color: rgb(175, 29, 102);
}
*, *::before, *::after {
    box-sizing: border-box;
}
*:not(dialog) {
    margin: 0;
}
body {
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}
img {
    max-width: 100%;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    vertical-align: middle;
    shape-margin: 1rem;

}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
ul, li, section, main, header, footer {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

i {
    font-size: 2rem;
    color: var(--icon-color);
}
div[class~="icon"] {
    --icon-size: 2rem;
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: var(--icon-color);
    mask: url("./../imgs/bluesky.svg") no-repeat center;
    mask-size: var(--icon-size);
}
div[class="share"] {
    --icon-size: 2rem;
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: var(--icon-color);
    mask: url("./../imgs/share-all.svg") no-repeat center;
    mask-size: var(--icon-size);
}
body {
    display: grid;
    gap: 2rem;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    max-width: 100vw;
    min-height: 150vh;
}

header {
    padding: 2rem;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    align-items: center;
}
h1 {
        position: absolute;
        position-anchor: --about-me-pic;
        z-index: 1;
        bottom: anchor(bottom);
        left: anchor(left);
        padding: 1rem;
        font-size: 28px;
        font-weight: 700;
        color: white;
    }
div.about-me {
        flex: 0 1 1;
        background: white;
        box-shadow: var(--shadow) 0px 5px 4px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        max-width: 120ch;
        max-height: 420px;
    }

section.header-area {
    display: flex;
    justify-content: center;
    align-items: center;
    }
.example {
    anchor-name: --about-me-pic;
    position: relative;
    flex: 0 0 1;
    background: var(--default);
    min-width: 400px;
    aspect-ratio: 1;
    align-content: center;
    text-align: center;
    box-shadow: var(--shadow) 0px 5px 4px;
}
.icon-area {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

div.background {
    min-width: 2000px;
    min-height: 35vh;
    position: absolute;
    top: -100px;
    left: -100px;
    transform: rotate(-5deg);
    background: var(--default);
    z-index: -1;
}

main {
    --project-size: 380px;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    gap: 1rem;

    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        section.card {
            width: var(--project-size);
            height: var(--project-size);
            box-shadow: var(--shadow) 0px 5px 4px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
    .share-area, .title-area {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
    }
    .project-area {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        background: white;
        width: var(--project-size);
        height: 50%;
        overflow: hidden;
    }
}


footer {
    padding: 2rem;
    background: var(--default);
    place-self: stretch;
}

main > h2, footer > h2 {
    padding-left: 2rem;
}


@media (max-width: 980px) {
    section.header-area {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-items: center;
    }
    div.about-me {
        display: grid;
        grid-column: 1 / -1;
        min-height: 350px;
        grid-template-columns: repeat(5, 0.5fr);
        
        p, h2, .icon-area {
            grid-column: 3 / -1;
        }
    }
    div.example {
        place-self: start;
        margin-top: -20px;
        margin-left: -20px;
        height: 350px;
        min-width: 300px;
        grid-column: 1 / 3;
    }
    .about-me, .example {
        grid-row: 1 / 2;
    }
}

@media (max-width: 500px) {
    section.header-area {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        margin: 0;
    }
    div.example {
        place-self: center;
        margin: 0;
        height: 500px;
        width: 400px;
        aspect-ratio: 0;
    }
    div.about-me {
        justify-items: center;
        min-height: fit-content;
        min-width: 400px;
        box-shadow: none;
        p, h2, .icon-area {
            grid-column: 1 / -1;
        }
    }
}