/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
  with slight edits made by Me!
*/
:root {
    --shadow: rgba(38, 11, 54, 0.534);
    --default: rgb(153, 153, 153);
}
*, *::before, *::after {
    box-sizing: border-box;
}
*:not(dialog) {
    margin: 0;
}
body {
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}
img {
    max-width: 100%;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    vertical-align: middle;
    shape-margin: 1rem;

}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
ul, li, section, main, header, footer {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

body {
    display: grid;
    gap: 2rem;
    grid-template-rows: repeat(3, 1fr);
    max-width: 100vw;
    min-height: 150vh;
}
header {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    align-items: center;

    h1 {
        position: absolute;
        position-anchor: --about-me-pic;
        z-index: 1;
        bottom: anchor(bottom);
        left: anchor(left);
        padding: 1rem;
        font-size: 28px;
        font-weight: 700;
        color: white;
    }
    .example {
        anchor-name: --about-me-pic;
        position: relative;
        flex: 0 0 1;
        height: 400px;
        background: var(--default);
        min-width: 400px;
        align-content: center;
        text-align: center;
        box-shadow: var(--shadow) 0px 5px 4px;
    }

    section.about-me {
        flex: 0 1 1;
        background: white;
        box-shadow: var(--shadow) 0px 5px 4px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        max-width: 120ch;
        min-height: 280px;
    }
}

div.background {
    width: 200%;
    min-height: 35vh;
    position: absolute;
    top: -200px;
    left: -100px;
    transform: rotate(-5deg);
    background: var(--default);
    z-index: -1;
}

main {
    border: 2px blue solid;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    gap: 1rem;

    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        section.card {
            background: var(--default);
            padding: 6rem 3rem;
            box-shadow: var(--shadow) 0px 5px 4px;
        }
    }
}

footer {
    background: var(--default);
    place-self: stretch;
}